RADARR_URL=http://{VM_IP_ADDRESS}:7878
RADARR_API_KEY=

SONARR_URL=http://{VM_IP_ADDRESS}:8989
SONARR_API_KEY=

SEERR_URL=http://{VM_IP_ADDRESS}:5055
SEERR_API_KEY=

JELLYFIN_URL=http://{VM_IP_ADDRESS}:8096
JELLYFIN_API_KEY=

SESSION_SECRET=